@model ASP_Net_Mvc_Data.Models.ViewModels.PersonLanguageViewModel
@{
    ViewData["Title"] = "AddLanguageToPerson";
}

<h3>AddLanguageToPerson</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLanguageToPerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="Person.Id" class="form-control">
                    @foreach (var item in Model.PeopleList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language.Id" class="form-control">
                    @foreach (var item in Model.LanguageList)
                    {
                        <option value="@item.Id">@item.LanguageTitle</option>
                    }
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddPersonToLanguage" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to PeopleIndex</a>
</div>
