@model ASP_Net_Mvc_Data.Models.ViewModels.AddCountryViewModel

<h3>AddCountryToCityViewModel</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCountry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City.Id" class="form-control">
                    @foreach (var item in Model.CityList)
                    {
                        <option value="@item.Id">@item.CityName</option>
                    }
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country.Id" class="form-control">
                    @foreach (var item in Model.CountryList)
                    {
                        <option value="@item.Id">@item.CountryName</option>
                    }
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
